.booking-image img {
    width: 100%;
   
}

.booking-image {
    width: 51%;
    /* margin: 150px auto; */
    display: flex;
    flex-direction: column;
}

.grooming-content {
    display: flex;
    justify-content: center;
    margin: 150px auto;
}

.grooming-price {
    margin-bottom: 160px;
    margin-left: 60px;
}

.grooming-details, .grooming-date{
    display: flex;
    margin-bottom: 22px;
}

#grooming-table-label{
    margin-right: 20px;
}

#datepiker-label {
    margin-right: 53px;
}

#datepiker {
    padding: 10px 90px;
}

#grooming-table {
    padding: 10px 60px;
}

.button-cart {
    color: white;
    background: dimgrey;
    padding: 5px 52px;
    margin-left: 13px;
    border: 3px solid dimgrey;
}

.button-cart:hover{
    border: 3px solid dimgray;
    background: transparent;
    color: black;
}

.button-quantity {
    border-radius: 35px;
    width: 35%;
    padding: 10px 25px;
}

#left-plus {
    position: relative;
    font-size: 35px;
    color: coral;
    right: 9%;
    top: 7px;
    cursor: pointer;
}

#right-plus {
    position: relative;
    font-size: 35px;
    color: coral;
    left: 9%;
    top: 7px;
    cursor: pointer;
}

.button-buy input {
    width: 78%;
    margin-left: 7%;
    margin-top: 7%;
    padding: 8px;
    border: 0px;
    border: 3px solid coral;
    border-radius: 25px;
    background: #ff7f50;
}

.button-buy input:hover{
    border: 3px solid coral;
    background: transparent;
}

::placeholder{
    position: relative;
    left: 40%;
    color: black;
    
}
