.container-register {
    border: 1px solid black;
    margin: 150px auto;
    width: 50%;
}

.input-box {
    margin: 10px;
}

.input-box input {
    width: 54%;
    border-radius: 15px;
    padding: 6px 12px;
}

.image-box {
    position: relative;
    left: 10.4%;
}

.game-details div:nth-child(5) select {
    border-radius: 12px;
    padding: 4px 4px;
}

.content {
    margin: 40px;
}

