.header-nav {
    display: flex;
    justify-content: space-around;
    border: 0px solid black;
    box-shadow: 1px 4px 20px 0px;
    background-color: #f3d7ad;
}

.header-elements {
    display: flex;
    list-style-type: none;
}

.header-elements li, .logo {
    margin: 5px;
    border: 0px;
    border-radius: 8px;
    padding: 11px;
    box-shadow: 0px 3px 8px 1px #1f1f1e;
    background: #8b6149;
    color: white;
}

.header-buttons:hover{
   background-color: coral;
    cursor: pointer;
    box-shadow: 0px 3px 13px 2px white;
}