.login-page {
    position: relative;
    margin: 150px auto;
    width: 37%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px black;
    background: linear-gradient(90deg, rgba(255,247,242,1) 0%, rgba(243,215,173,1) 52%, rgba(246,180,142,1) 100%);
}



.login-page img {
    width: 52%;
    position: absolute;
    left: 0%;
    height: 87%;
    top: 7%;
    mix-blend-mode: overlay;
}

.background-image-login{
    width: 100%;
    height: 99.9%;
    left: 0%;
    position: absolute;
}

.login-page-image {
    padding: 1px;
    position: relative;
}

.user-details input {
    background: transparent;
    border-radius: 8px;
}