.confirm-form {
    display: flex;
    justify-content: center;
}

.confirm-form p {
    font-family: arial;
    font-size: 13px;
}

.daycare-registration-image{
    background-image: url('../../styles/images/registration_pal.png');
    display: flex;
    background-position: center;
}
.daycare-registration {
    margin: 150px auto;
    /* border: 0px solid #ebe9e9; */
    box-shadow: 1px 1px 10px 2px;
    width: 50%;
    background: linear-gradient(90deg, rgba(255,247,242,1) 0%, rgba(243,215,173,1) 52%, rgba(246,180,142,1) 100%);
}

.form-title {
    display: flex;
    flex-direction: column;
}

.form-title h1 {
    margin-top: 4%;
}

.user-details {
    margin: 15px;
}

.user-details input {
    width: 40%;
    padding: 9px;
}

.form-button input {
    cursor: pointer;
    border: 0px;
    color: white;
    width: 39%;
    padding: 8px 15px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(221 192 176) 52%, rgba(139,97,73,1) 100%);
}

.form-button input:hover{
    box-shadow: 0px 0px 12px 4px lightgray;
}

.account-h3 {
    font-size: 15px;
    font-family: Helvetica;
    margin: 5;
    margin: 2rem;
}

.showspass-1 {
    display: flex;
    position: absolute;
    padding-top: 0px;
    padding-bottom: 76px;
    right: 41%;
}

.showspass-2{
    display: flex;
    position: absolute;
    padding-top: 9px;
    right: 41%;
}

.user-details:nth-child(5), .user-details:nth-child(6) {
    display: flex;
    justify-content: center;
}

.user-details i {
    cursor: pointer;
}

.form div:nth-child(5){
    flex-direction: column;
    align-items: center;
}

.password-checkers-1, .password-checkers-2 {
    list-style-type: none;
}

.password-checkers-1, .password-checkers-2 li {
    font-size: 12px;
    font-family: sans-serif;
}