.confirm-form {
    display: flex;
    justify-content: center;
}

.confirm-form p {
    font-family: arial;
    font-size: 13px;
}

.daycare-registration {
    margin: 150px auto;
    /* border: 0px solid #ebe9e9; */
    box-shadow: 1px 1px 10px 2px;
}