.confirm-form {
    display: flex;
    justify-content: center;
}

.confirm-form p {
    font-family: arial;
    font-size: 13px;
}

.daycare-registration {
    margin: 150px auto;
    /* border: 0px solid #ebe9e9; */
    box-shadow: 1px 1px 10px 2px;
    width: 50%;
}

.daycare-registration-title {
    display: flex;
    flex-direction: column;
}

.daycare-registration-title h1 {
    margin-top: 4%;
}

.user-details {
    margin: 15px;
}

.user-details input {
    width: 40%;
    padding: 9px;
}

.form-button input {
    border: 0px;
    color: white;
    width: 39%;
    padding: 8px 15px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(195,170,150,1) 0%, rgba(243,215,173,1) 50%, rgba(244,227,219,1) 99%);
}