.personal-pet-image img{
    border: 0px solid black;
    width: 69%;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px black;
}

.personal-pet-section {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin: 150px auto;
}

.pet-image {
    box-shadow: 0px 4px 5px 0px black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}